<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703851710464-nrmk38irolmhjhhfsjpngnt1t9aqqfnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703851710464-nrmk38irolmhjhhfsjpngnt1t9aqqfnh</string>
	<key>API_KEY</key>
	<string>AIzaSyCLLFOdwSQdBfjiUiAjh8fjEdVJu2uhpXk</string>
	<key>GCM_SENDER_ID</key>
	<string>703851710464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attendance</string>
	<key>PROJECT_ID</key>
	<string>attendance-9df32</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-9df32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703851710464:ios:fe689a66056b7ad60c70e5</string>
</dict>
</plist>